{% extends 'template.html' %}{% block conteudo %}
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control" value="{{ usuario.nome }}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="nome" id="nome" class="form-control" value="{{ usuario.email }}">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="text" name="nome" id="nome" class="form-control" value="{{ usuario.senha }}">
            </div>
            <div class="form-group">
                <label for="funcao">Função</label>
                <select name="funcao" id="funcao" class="form-select form-select-lg rounded-3 shadow-sm" required>
                        <option selected disabled>{{ usuario.funcao }}</option>
                        <option value="admin">Admin</option>
                        <option value="diretor">Diretor</option>
                        <option value="cordernador">Cordenador</option>
                        <option value="professor">Professor</option>
                        <option value="aluno">Aluno</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="ativo">ativo</label>
                <select name="funcao" id="funcao" class="form-select form-select-lg rounded-3 shadow-sm" required>
                        <option selected disabled>{{ usuario.ativo }}</option>
                        <option value="ativo">Ativado</option>
                        <option value="desativado">Desativado</option>
                    </select>
            </div>
        </form>
    </div>
{% endblock %}